{%- extends 'base.html' -%}

{%- from "components/table/_macro.njk" import onsTable -%}
{%- from 'components/button/_macro.njk' import onsButton -%}

{%- block main -%}

    <h1>Telephone Operations</h1>

    <h2>Call list</h2>

    {{
        onsTable({
            'caption': 'Outstanding calls to make',
            'hideCaption': 'true',
            'id': 'basic-table',
            'ths': [
                {
                    'value': 'Survey'
                },
                {
                    'value': 'Call action required'
                },
                {
                    'value': 'Case'
                }
            ],
            'trs': [
                {
                    'tds': [
                        {
                            'value': 'Household Assets Survey (HAS)',
                            'name': 'call-line-1'
                        },
                        {
                            'value': 'First call'
                        },
                        {
                            'value': '<a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='view') + '">View</a>'
                                    +'| <a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='edit') + '">Edit</a>'
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Labour Force Survey (LFS)',
                            'name': 'call-line-2'
                        },
                        {
                            'value': 'Scheduled interview'
                        },
                        {
                            'value': '<a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='view') + '">View</a>'
                                    +'| <a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='edit') + '">Edit</a>'
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Labour Force Survey (LFS)',
                            'name': 'call-line-3'
                        },
                        {
                            'value': 'Second call'
                        },
                        {
                            'value': '<a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='view') + '">View</a>'
                                    +'| <a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='edit') + '">Edit</a>'
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Census Quality Survey',
                            'name': 'call-line-4'
                        },
                        {
                            'value': 'First call'
                        },
                        {
                            'value': '<a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='view') + '">View</a>'
                                    +'| <a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='edit') + '">Edit</a>'
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Household Assets Survey (HAS)',
                            'name': 'call-line-5'
                        },
                        {
                            'value': 'Interview'
                        },
                        {
                            'value': '<a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='view') + '">View</a>'
                                    +'| <a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='edit') + '">Edit</a>'
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Family Resources Survey (FRS)',
                            'name': 'call-line-6'
                        },
                        {
                            'value': 'Reminder call'
                        },
                        {
                            'value': '<a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='view') + '">View</a>'
                                    +'| <a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='edit') + '">Edit</a>'
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Labour Force Survey (LFS)',
                            'name': 'call-line-7'
                        },
                        {
                            'value': 'Second call'
                        },
                        {
                            'value': '<a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='view') + '">View</a>'
                                    +'| <a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='edit') + '">Edit</a>'
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Census Quality Survey',
                            'name': 'call-line-8'
                        },
                        {
                            'value': 'First call'
                        },
                        {
                            'value': '<a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='view') + '">View</a>'
                                    +'| <a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='edit') + '">Edit</a>'
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Household Assets Survey (HAS)',
                            'name': 'call-line-9'
                        },
                        {
                            'value': 'Interview'
                        },
                        {
                            'value': '<a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='view') + '">View</a>'
                                    +'| <a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='edit') + '">Edit</a>'
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Family Resources Survey (FRS)',
                            'name': 'call-line-10'
                        },
                        {
                            'value': 'Reminder call'
                        },
                        {
                            'value': '<a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='view') + '">View</a>'
                                    +'| <a href="'+ url_for('case.case', case_id='77346443-64ae-422e-9b93-d5250f48a27a', org='sel', mode='edit') + '">Edit</a>'
                        }
                    ]
                }
            ]
        })
    }}

{%- endblock -%}
