{%- extends 'base.html' -%}

{%- from 'components/button/_macro.njk' import onsButton -%}

{%- if org=='to' -%}
    {%- set home_url = url_for('to.to_case_list') -%}
{%- elif org=='sel' -%}
    {%- set home_url = url_for('sel.sel_home') -%}
{%- else -%}
    {%- set home_url = url_for('home') -%}
{%- endif -%}

{%- block main -%}

    <h1>Call outcome recorded</h1>

    <div class="ons-btn-group ons-u-mt-l">
        {{
            onsButton({
                'type': 'button',
                'text': 'Return to case',
                'classes': 'ons-u-mb-m',
                'url': url_for('case.case', case_id=case_id, org=org, mode='edit')
            })
        }}

        {{
            onsButton({
                'type': 'button',
                'text': 'Return to homepage',
                'classes': 'ons-u-mb-m',
                'url': home_url
            })
        }}
    </div>

{%- endblock -%}
