{%- extends 'base.html' -%}

{%- from "components/table/_macro.njk" import onsTable -%}
{%- from 'components/button/_macro.njk' import onsButton -%}
{%- from "components/collapsible/_macro.njk" import onsCollapsible -%}

{%- set address -%}
        {{ sample.addressLine1 }}<br>
        {%- if sample.addressLine2 -%}{{ sample.addressLine2 }}<br>{%- endif -%}
        {%- if sample.addressLine3 -%}{{ sample.addressLine3 }}<br>{%- endif -%}
        {%- if sample.townName -%}{{ sample.townName }}<br>{%- endif -%}
        {{ sample.postcode }}
{%- endset -%}

{%- block main -%}

    <h1>Case: {{ case.caseRef or 'Not available' }}</h1>

    <div class="ons-grid">
        <div class="ons-grid__col ons-col-6@m">
            <h2 class="ons-u-mt-xl">Case details</h2>
                {{
                    onsTable({
                        'caption': 'Case details',
                        'hideCaption': 'true',
                        'id': 'basic-table',
                        'trs': [
                            {
                                'tds': [
                                    {
                                        'value': 'Case Ref:',
                                        'name': 'case-ref',
                                        'tdClasses': 'ons-u-fs-r--b'
                                    },
                                    {
                                        'value': case.caseRef
                                    },
                                    {
                                        "numeric": true,
                                        'value':
                                            onsButton({
                                                'type': 'button',
                                                'text': 'Launch survey',
                                                'url': '#',
                                                "variants": 'secondary',
                                                "newWindow": true
                                            })
            + '<div class="ons-u-mt-s"><a href="' + url_for('case.request_code_by_post', case_id=case_id, org=org) + '">Send new access code by post</a></div>'
            + '<div class="ons-u-mt-s"><a href="' + url_for('case.request_code_by_text', case_id=case_id, org=org) + '">Send new access code by text</a></div>'

                                    }
                                ]
                            },
                            {
                                'tds': [
                                    {
                                        'value': 'Address:',
                                        'name': 'address',
                                        'tdClasses': 'ons-u-fs-r--b'
                                    },
                                    {
                                        'value': address
                                    },
                                    {
                                        "numeric": true,
                                        'value': '<a href="' + url_for('case.invalidate_address', case_id=case_id, org=org) + '">Report issue with address</a>'
                                    }
                                ]
                            },
                            {
                                'tds': [
                                    {
                                        'value': 'Region:',
                                        'name': 'region',
                                        'tdClasses': 'ons-u-fs-r--b'
                                    },
                                    {
                                        'value': sample.region
                                    },
                                    {
                                        "numeric": true,
                                        'value': '<a href="' + url_for('case.request_refusal', case_id=case_id, org=org) + '">Submit refusal</a>'
                                    }
                                ]
                            }
                        ]
                    })
                }}

        </div>
        <div class="ons-grid__col ons-push-1@m ons-col-5@m">
            <h2 class="ons-u-mt-xl">Contact details</h2>
            {{
                onsTable({
                    'caption': 'Contact information',
                    'hideCaption': 'true',
                    'id': 'basic-table',
                    'trs': [
                        {
                            'tds': [
                                {
                                    'value': 'First name:',
                                    'name': 'first-name',
                                    'tdClasses': 'ons-u-fs-r--b'
                                },
                                {
                                    'value': 'Bob'
                                },
                                {}
                            ]
                        },
                        {
                            'tds': [
                                {
                                    'value': 'Last name:',
                                    'name': 'last-name',
                                    'tdClasses': 'ons-u-fs-r--b'
                                },
                                {
                                    'value': 'Bobbington'
                                },
                                {}
                            ]
                        },
                        {
                            'tds': [
                                {
                                    'value': 'Home phone:',
                                    'name': 'home-phone',
                                    'tdClasses': 'ons-u-fs-r--b'
                                },
                                {
                                    'value': '014 2000 0001'
                                },
                                {
                                    'value': onsButton({
                                        'type': 'button',
                                        'text': 'Call',
                                        'url': url_for('case.call_outcome', case_id=case_id, org=org),
                                        "variants": 'secondary',
                                        'iconType': 'False'
                                    })
                                }
                            ]
                        },
                        {
                            'tds': [
                                {
                                    'value': 'Mobile phone:',
                                    'name': 'mobile-phone',
                                    'tdClasses': 'ons-u-fs-r--b'
                                },
                                {
                                    'value': '070 0000 0001'
                                },
                                {
                                    'value': onsButton({
                                        'type': 'button',
                                        'text': 'Call',
                                        'url': url_for('case.call_outcome', case_id=case_id, org=org),
                                        "variants": 'secondary',
                                        'iconType': 'False'
                                    })
                                }
                            ]
                        },
                        {
                            'tds': [
                                {
                                    'value': 'Email:',
                                    'name': 'email',
                                    'tdClasses': 'ons-u-fs-r--b'
                                },
                                {
                                    'value': 'bob.bobbington@thebobbingtons.uk'
                                },
                                {}
                            ]
                        }
                    ]
                })
            }}

            <div class="ons-grid">
                <div class="ons-grid__col ons-col-6@m">
                    <a href="{{ url_for('case.update_contact_details', case_id=case_id, org=org) }}">Edit contact details</a>
                </div>
                <div class="ons-grid__col ons-col-6@m ons-u-rtl">
                    <a href="{{ url_for('case.data_removal_request', case_id=case_id, org=org) }}">Request to remove data</a>
                </div>
            </div>

        </div>
    </div>

    <div class="ons-grid">

        <div class="ons-grid__col ons-col-8@m">
            {%- if interactions -%}
            <h2 class="ons-u-mt-xl">Case history</h2>
            {%- endif -%}
        </div>

        <div class="ons-grid__col ons-col-4@m ons-u-rtl ons-u-mt-xl ons-u-mb-m">
            {{
                onsButton({
                    'type': 'button',
                    'text': 'Add call notes',
                    'url': url_for('case.add_case_note', case_id=case_id, org=org),
                    'iconType': 'False'
                })
            }}
        </div>
    </div>

    {%- if interactions -%}
        {{
            onsTable({
                "variants": ['compact', 'row-hover', 'sortable'],
                "sortBy": "Sort by",
                "ariaAsc": "ascending",
                "ariaDesc": "descending",
                'id': 'case-history-table',
                'thClasses': ' ons-u-fs-m',
                'ths': [
                    {
                        'value': 'Data and time',
                        'ariaSort': 'descending'
                    },
                    {
                        'value': 'Source',
                        'ariaSort': 'none'
                    },
                    {
                        'value': 'Event',
                        'ariaSort': 'none'
                    },
                    {
                        'value': 'Details',
                        'ariaSort': 'none'
                    },
                    {
                        'value': 'User',
                        'ariaSort': 'none'
                    }
                ],
                'trs': interactions
            })
        }}
    {%- endif -%}

{%- endblock -%}
