{%- extends 'base.html' -%}

{%- from 'components/question/_macro.njk' import onsQuestion -%}
{%- from 'components/button/_macro.njk' import onsButton -%}
{%- from "components/textarea/_macro.njk" import onsTextarea -%}

{%- set form =  {
    'method': 'POST',
    'attributes': {
        'action': ''
    }
} -%}

{%- block main -%}

    {%- if get_flashed_messages() -%}
        {%- include 'partials/messages.html' with context -%}
    {%- endif -%}

    {%- call onsQuestion({
        'title': "Invalidate Address",
        'description': '<p>Invalidating an address will remove any response data from the case</p>'
    }) -%}

        {{
            onsTextarea({
                "id": "textarea",
                "name": "reason",
                "label": {
                    "text": "Enter reason for invalid address",
                },
                "charCheckLimit": {
                    "limit": 250,
                    "charCountSingular": "You have {x} character remaining",
                    "charCountPlural": "You have {x} characters remaining"
                },
                "error": error_reason
            })
        }}

    {%- endcall -%}

    <div class="ons-btn-group ons-u-mt-l">
        {{
            onsButton({
                'text': 'Submit',
                'submitType': 'loader'
            })
        }}

        {{
            onsButton({
                'type': 'button',
                'text': 'Cancel',
                'variants': 'secondary',
                'url': url_for('case.case', case_id=case_id, org=org, mode='edit'),
                'iconType': 'false'
            })
        }}
    </div>


{%- endblock -%}
