{%- extends 'base.html' -%}

{%- from 'components/question/_macro.njk' import onsQuestion -%}
{%- from 'components/button/_macro.njk' import onsButton -%}
{%- from 'components/radios/_macro.njk' import onsRadios -%}

{%- set form =  {
    'method': 'POST',
    'attributes': {
        'action': ''
    }
} -%}

{%- block main -%}

    {%- if get_flashed_messages() -%}
        {%- include 'partials/messages.html' with context -%}
    {%- endif -%}

    <h1 class="ons-u-mt-l">Submit a refusal for this case?</h1>

    <p>The following information is required from the caller to process a refusal</p>

    {{
        onsRadios({
            'name': 'form-case-request-refusal-reason',
            'radios': refusal_options,
            'legend': "What is the caller's reason for refusal?",
            'legendClasses': 'ons-u-mt-xl',
            'error': error_reason
        })
    }}

    <div class="ons-btn-group ons-u-mt-l">
        {{
            onsButton({
                'text': 'Submit refusal',
                'submitType': 'loader'
            })
        }}

        {{
            onsButton({
                'type': 'button',
                'text': 'Cancel',
                'classes': 'btn--secondary btn-group__btn',
                'url': url_for('case.case', case_id=case_id, org=org),
                'icon': 'false'
            })
        }}
    </div>


{%- endblock -%}
