{%- extends 'base.html' -%}

{%- from 'components/question/_macro.njk' import onsQuestion -%}
{%- from 'components/button/_macro.njk' import onsButton -%}
{%- from 'components/input/_macro.njk' import onsInput -%}
{%- from "components/checkboxes/_macro.njk" import onsCheckboxes -%}

{%- set form =  {
    'method': 'POST',
    'attributes': {
        'action': ''
    }
} -%}

{%- block main -%}

    {%- if get_flashed_messages() -%}
        {%- include 'partials/messages.html' with context -%}
    {%- endif -%}

    <h1>Add User</h1>

    {%- if has_permission('CREATE_USER') -%}
        {{
            onsInput({
                'id': 'email',
                'name': 'user-email',
                'width': '30',
                'type': 'email',
                'autocomplete': 'email',
                'label': {
                    'text': 'Email address'
                },
                'value': value_email,
                'error': error_email
            })
        }}
    {%- endif -%}

    {%- if has_permission('USER_SURVEY_MAINTENANCE') -%}
        <br/>
        <h2>Surveys</h2>

        {{
            onsCheckboxes({
                "checkboxesLabel": "Select all surveys that the user can access",
                "dontWrap": true,
                "name": "surveys",
                "checkboxes": survey_types_checkboxes
            })
        }}
    {%- endif -%}

    {%- if has_permission('RESERVED_USER_ROLE_ADMIN') or can_admin_roles() -%}
        <br/>
        <h2>User Roles</h2>

        {{
            onsCheckboxes({
                "checkboxesLabel": "Select all roles that the user can perform",
                "dontWrap": true,
                "name": "user_roles",
                "checkboxes": user_roles_checkboxes
            })
        }}
    {%- endif -%}

    {%- if has_permission('RESERVED_ADMIN_ROLE_MAINTENANCE') -%}
        <br/>
        <h2>Admin Roles</h2>

        {{
            onsCheckboxes({
                "checkboxesLabel": "Select all roles that the user can assign to another user",
                "dontWrap": true,
                "name": "admin_roles",
                "checkboxes": admin_roles_checkboxes
            })
        }}
    {%- endif -%}

    <div class="ons-btn-group ons-u-mt-l">
        {{
            onsButton({
                'text': 'Create',
                'submitType': 'loader'
            })
        }}

        {{
            onsButton({
                'type': 'button',
                'text': 'Cancel',
                'variants': 'secondary',
                'url': url_for('admin.admin_user_list'),
                'iconType': 'false'
            })
        }}
    </div>

{%- endblock -%}
