{%- extends 'base.html' -%}

{%- from 'components/question/_macro.njk' import onsQuestion -%}
{%- from 'components/button/_macro.njk' import onsButton -%}
{%- from "components/panel/_macro.njk" import onsPanel -%}

{%- set form =  {
    'method': 'POST',
    'attributes': {
        'action': ''
    }
} -%}

{%- block main -%}

    <h1 class="ons-u-mt-l">Delete user <i>{{ user_identity }}</i></h1>

    {%- call onsPanel({
            "type": 'warn',
            "classes": "ons-u-mt-xl"
        })
    -%}
        <p>Deleting a user will permanently prevent them from accessing the Contact Centre,
            cannot be undone, and the user cannot be recreated.</p>
    {%- endcall -%}

    <div class="ons-btn-group ons-u-mt-l">
        {{
            onsButton({
                'text': 'Confirm deletion',
                'submitType': 'loader'
            })
        }}

        {{
            onsButton({
                'type': 'button',
                'text': 'Cancel',
                'variants': 'secondary',
                'url': url_for('admin.admin_user_list'),
                'iconType': 'false'
            })
        }}
    </div>


{%- endblock -%}
