{%- extends 'base.html' -%}

{% from "components/card/_macro.njk" import onsCard %}

{%- block main -%}

    <h1>Administration</h1>

    <div>
        <div class="ons-grid ons-grid--column@xxs@s">
            {%- if has_permission('CAN_MANAGE_USERS') -%}
            <div class="ons-grid__col ons-col-4@m">
                {{ onsCard({
                    "id": 'title1',
                    "textId": 'text1',
                    "title": 'User management',
                    "url": url_for('admin.admin_user_list'),
                    "text": 'Modify user roles and permissions'
                }) }}
            </div>
            {%- endif -%}
            <div class="ons-grid__col ons-col-4@m">
                {{ onsCard({
                    "id": 'title2',
                    "textId": 'text2',
                    "title": 'Call scheduling and assignment',
                    "url": '#',
                    "text": 'Schedule and assign calls to users'
                }) }}
            </div>
            <div class="ons-grid__col ons-col-4@m">
                {{ onsCard({
                    "id": 'title2',
                    "textId": 'text2',
                    "title": 'Reporting',
                    "url": '#',
                    "text": 'View management information reporting'
                }) }}
            </div>
        </div>
    </div>



{%- endblock -%}
