{%- extends 'base.html' -%}

{%- from "components/table/_macro.njk" import onsTable -%}
{%- from 'components/button/_macro.njk' import onsButton -%}

{%- block main -%}

    <h1>Users and Roles</h1>

    {%- if has_permission('CREATE_USER') -%}
    {{
        onsButton({
            'type': 'button',
            'text': 'Add new user',
            'url': '#',
            'classes': 'ons-u-mb-l'
        })
    }}
    {%- endif -%}

   {%- if user_rows -%}
       <div class="ons-grid">
            <div class="ons-grid__col ons-col-8@m">
                <h2 class="ons-u-mt-xl">There are {{ user_rows | length }} users</h2>
            </div>
        </div>

        {{
            onsTable({
                "variants": ['compact', 'row-hover', 'sortable'],
                "sortBy": "Sort by",
                "ariaAsc": "ascending",
                "ariaDesc": "descending",
                'id': 'addresses-found-table',
                'thClasses': ' ons-u-fs-m',
                'ths': [
                    {
                        'value': 'User',
                        'ariaSort': 'descending'
                    },
                    {
                        'value': 'Name',
                        'ariaSort': 'none'
                    },
                    {
                        'value': 'Role',
                        'ariaSort': 'none'
                    },
                    {
                        'value': 'Status',
                        'ariaSort': 'none'
                    },
                    {
                        'value': 'Survey',
                        'ariaSort': 'none'
                    },
                    {
                        'value': 'Actions',
                        'ariaSort': 'none'
                    }
                ],
                'trs': user_rows
            })
        }}
    {%- else -%}
        <br/>
        <p>No users were found</p>
    {%- endif -%}

    {%- if has_permission('CREATE_ROLE') -%}
    {{
        onsButton({
            'type': 'button',
            'text': 'Add new role',
            'url': '#',
            'classes': 'ons-u-mb-l'
        })
    }}
    {%- endif -%}

{%- endblock -%}
