{%- extends 'base.html' -%}

{%- from "components/table/_macro.njk" import onsTable -%}
{%- from 'components/button/_macro.njk' import onsButton -%}
{% from "components/status/_macro.njk" import onsStatus %}

{%- block main -%}

    <h1>Users and Roles</h1>

    {%- if get_flashed_messages(category_filter=["info"]) -%}
        {%- include 'partials/messages_info.html' with context -%}
    {%- endif -%}
    {%- if get_flashed_messages(category_filter=["error"]) -%}
        {%- include 'partials/messages.html' with context -%}
    {%- endif -%}
    <br/>

    {%- if has_permission('CREATE_USER') -%}
    {{
        onsButton({
            'type': 'button',
            'text': 'Add new user',
            'url': url_for('admin.add_user'),
            'iconType': 'False'
        })
    }}
    {%- endif -%}

    {%- if user_rows -%}
        <h3 class="ons-u-mt-xl">There are {{ user_rows | length }} users</h3>

        {{
            onsTable({
                "variants": ['compact', 'row-hover', 'sortable'],
                "sortBy": "Sort by",
                "ariaAsc": "ascending",
                "ariaDesc": "descending",
                'id': 'users-table',
                'thClasses': ' ons-u-fs-m',
                'ths': [
                    {
                        'value': 'User',
                        'ariaSort': 'descending'
                    },
                    {
                        'value': 'Name',
                        'ariaSort': 'none'
                    },
                    {
                        'value': 'Role',
                        'ariaSort': 'none'
                    },
                    {
                        'value': 'Status',
                        'ariaSort': 'none'
                    },
                    {
                        'value': 'Survey',
                        'ariaSort': 'none'
                    },
                    {
                        'value': 'Action',
                        'ariaSort': 'none'
                    }
                ],
                'trs': user_rows
            })
        }}
    {%- else -%}
        <br/>
        <p>No users were found</p>
    {%- endif -%}

    {%- if has_permission('CREATE_ROLE') -%}
    {{
        onsButton({
            'type': 'button',
            'text': 'Add new role',
            'url': '#',
            'iconType': 'False'
        })
    }}
    {%- endif -%}

{%- endblock -%}
