{%- extends 'base.html' -%}

{%- from "components/table/_macro.njk" import onsTable -%}
{%- from 'components/button/_macro.njk' import onsButton -%}

{%- block main -%}

    <h1>Case: {{ case.id or 'Not available' }}</h1>

    {%- if case.createdDateTime -%}
        {%- set creation_datetime = case.createdDateTime | datetimefilter -%}
    {%- else -%}
        {%- set creation_datetime = 'Not available' -%}
    {%- endif -%}

    {%- if case.lastUpdated -%}
        {%- set last_updated = case.lastUpdated | datetimefilter -%}
    {%- else -%}
        {%- set last_updated = 'Not available' -%}
    {%- endif -%}

    <div class="btn-group u-mt-l">
        {{
            onsButton({
                'type': 'button',
                'text': 'Record caller refusal',
                'classes': 'u-mb-xl',
                'url': url_for('case.case_request_refusal', case_id=case_id)
            })
        }}

        {{
            onsButton({
                'type': 'button',
                'text': 'Request SMS fulfilment',
                'classes': 'u-mb-xl',
                'url': url_for('case.case_request_code_by_text', case_id=case_id)
            })
        }}
    </div>

    {{
        onsTable({
            'caption': 'Data for case ' + case.id,
            'id': 'basic-table',
            'ths': [
                {
                    'value': 'Field'
                },
                {
                    'value': 'Value'
                }
            ],
            'trs': [
                {
                    'tds': [
                        {
                            'value': 'Address Line 1',
                            'name': 'address-line-1'
                        },
                        {
                            'value': case.addressLine1
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Address Line 2',
                            'name': 'address-line-2'
                        },
                        {
                            'value': case.addressLine2
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Address Line 3',
                            'name': 'address-line-3'
                        },
                        {
                            'value': case.addressLine3
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Town name',
                            'name': 'town-name'
                        },
                        {
                            'value': case.townName
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Postcode',
                            'name': 'postcode'
                        },
                        {
                            'value': case.postcode
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Region',
                            'name': 'region'
                        },
                        {
                            'value': case.region
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'UPRN',
                            'name': 'uprn'
                        },
                        {
                            'value': case.uprn
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Establishment UPRN',
                            'name': 'establishment-uprn'
                        },
                        {
                            'value': case.estabUprn
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Secure establishment',
                            'name': 'secure-establishment'
                        },
                        {
                            'value': case.secureEstablishment | string
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Case Type',
                            'name': 'case-type'
                        },
                        {
                            'value': case.caseType
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Address Type',
                            'name': 'address-type'
                        },
                        {
                            'value': case.addressType
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Establishment Type',
                            'name': 'establishment-type'
                        },
                        {
                            'value': case.estabType
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Establishment description',
                            'name': 'establishment-desc'
                        },
                        {
                            'value': case.estabDescription
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'CE Org Name',
                            'name': 'ce-org-name'
                        },
                        {
                            'value': case.ceOrgName
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Creation date',
                            'name': 'creation-date'
                        },
                        {
                            'value': creation_datetime
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Last updated',
                            'name': 'last-updated'
                        },
                        {
                            'value': last_updated
                        }
                    ]
                },
                {
                    'tds': [
                        {
                            'value': 'Allowed delivery channels',
                            'name': 'allowed-delivery-channels'
                        },
                        {
                            'value': case.allowedDeliveryChannels
                        }
                    ]
                }
            ]
        })
    }}

{%- endblock -%}
