{%- extends 'base.html' -%}

{%- from 'components/question/_macro.njk' import onsQuestion -%}
{%- from 'components/button/_macro.njk' import onsButton -%}
{%- from 'components/radios/_macro.njk' import onsRadios -%}
{%- from 'components/input/_macro.njk' import onsInput -%}

{%- set form =  {
    'method': 'POST',
    'attributes': {
        'action': ''
    }
} -%}

{%- block main -%}

    {%- if get_flashed_messages() -%}
        {%- include 'partials/messages.html' with context -%}
    {%- endif -%}

    {%- call onsQuestion({
        'title': "Why should the address be invalidated?",
    }) -%}
        {{
            onsRadios({
                'name': 'form-case-reason',
                'radios': invalidate_address_options,
                'legend': "Select invalidation reason",
                'legendClasses': 'u-mt-xl',
                'error': error_reason
            })
        }}
    {%- endcall -%}

    <div class="btn-group u-mt-l">
        {{
            onsButton({
                'text': 'Submit invalidation',
                'submitType': 'loader'
            })
        }}

        {{
            onsButton({
                'type': 'button',
                'text': 'Cancel',
                'classes': 'btn--secondary btn-group__btn',
                'url': url_for('case.case', case_id=case_id),
                'icon': 'false'
            })
        }}
    </div>


{%- endblock -%}
