{%- extends 'base.html' -%}

{%- from 'components/question/_macro.njk' import onsQuestion -%}
{%- from 'components/button/_macro.njk' import onsButton -%}
{%- from 'components/radios/_macro.njk' import onsRadios -%}
{%- from 'components/checkboxes/_macro.njk' import onsCheckboxes -%}

{%- set form =  {
    'method': 'POST',
    'attributes': {
        'action': ''
    }
} -%}

{%- set form_reason_options = [
                {
                    'id': 'extraordinary',
                    'label': {
                        'text': 'Extraordinary'
                    },
                    'value': 'extraordinary'
                },
                {
                    'id': 'hard',
                    'label': {
                        'text': 'Hard'
                    },
                    'value': 'hard'
                }
            ]
-%}

{%- block main -%}

    {%- if get_flashed_messages() -%}
        {%- include 'partials/messages.html' with context -%}
    {%- endif -%}

    <h1 class="u-mt-l">Submit a refusal for this case?</h1>

    <p>The following information is required from the caller to process a refusal</p>

    {{
        onsRadios({
            'name': 'form-case-request-refusal-reason',
            'radios': form_reason_options,
            'legend': "What is the caller's reason for refusal?",
            'legendClasses': 'u-mt-xl',
            'error': error_reason
        })
    }}

    {{
        onsCheckboxes({
            'legend': 'Is the caller the householder?',
            'checkboxes': [
                {
                    'id': 'is-householder-yes',
                    'classes': 'u-mb-m',
                    'name': 'form-case-request-refusal-householder',
                    'label': {
                        'text': 'The caller is the householder'
                    },
                    'value': 'is-householder'
                }
            ]
        })
    }}
    <div class="btn-group u-mt-l">
        {{
            onsButton({
                'text': 'Submit refusal',
                'submitType': 'loader'
            })
        }}

        {{
            onsButton({
                'type': 'button',
                'text': 'Cancel',
                'classes': 'btn--secondary btn-group__btn',
                'url': url_for('case.case', case_id=case_id),
                'icon': 'false'
            })
        }}
    </div>


{%- endblock -%}
