{%- extends 'base.html' -%}

{%- from 'components/question/_macro.njk' import onsQuestion -%}
{%- from 'components/button/_macro.njk' import onsButton -%}
{%- from 'components/radios/_macro.njk' import onsRadios -%}
{%- from 'components/input/_macro.njk' import onsInput -%}

{%- if error_mobile -%}
    {%- set error_mobile = {'id': 'error_mobile', 'text': error_mobile} -%}
{%- else -%}
    {%- set error_mobile = {} -%}
{%- endif -%}

{%- set form =  {
    'method': 'POST',
    'attributes': {
        'action': ''
    }
} -%}

{%- block main -%}

    {%- if get_flashed_messages() -%}
        {%- include 'partials/messages.html' with context -%}
    {%- endif -%}

    <h1 class="u-mt-l">Request a new access code by text</h1>

    <p>The following information is required from the caller to process this request</p>

    {%- if fulfilment_options -%}
        {%- call onsQuestion({
            'title': "What fulfilment does the caller require?",
            'instruction': 'Ask the caller which option they require - there is usually only a choice between available languages'
        }) -%}
            {{
                onsRadios({
                    'name': 'form-case-fulfilment',
                    'radios': fulfilment_options,
                    'legend': "Select required fulfilment",
                    'legendClasses': 'u-mt-xl',
                    'error': error_fulfilment
                })
            }}
        {%- endcall -%}
    {%- else -%}
        {{
            onsInput({
                "type": "hidden",
                "id": "form-case-fulfilment",
                "name": "form-case-fulfilment",
                "value": fulfilment_code
            })
        }}
    {%- endif -%}

    {%- call onsQuestion({
        'title': "What is the caller's mobile number?",
        'instruction': 'Inform the caller that the mobile number will not be stored and will only be used once to send the access code'
    }) -%}
        {{
            onsInput({
                'id': 'telephone',
                'type': 'tel',
                'autocomplete': 'tel',
                'classes': 'input--w-15',
                'label': {
                    'text': "Enter the caller's UK mobile number"
                },
                'name': 'form-case-mobile-number',
                'error': error_mobile
            })
        }}
    {%- endcall -%}

    <div class="btn-group u-mt-l">
        {{
            onsButton({
                'text': 'Request new code by text',
                'submitType': 'loader'
            })
        }}

        {{
            onsButton({
                'type': 'button',
                'text': 'Cancel',
                'classes': 'btn--secondary btn-group__btn',
                'url': url_for('case.case', case_id=case_id)
            })
        }}
    </div>


{%- endblock -%}
