{%- extends 'base.html' -%}

{%- from 'components/question/_macro.njk' import onsQuestion -%}
{%- from 'components/button/_macro.njk' import onsButton -%}
{%- from 'components/input/_macro.njk' import onsInput -%}

{%- set form =  {
    'method': 'POST',
    'attributes': {
        'action': ''
    }
} -%}

{%- block main -%}

    {%- if get_flashed_messages() -%}
        {%- include 'partials/messages.html' with context -%}
    {%- endif -%}

    {%- call onsQuestion({
        'title': "What is the new telephone number?"
    }) -%}
        {{
            onsInput({
                'id': 'telephone',
                'type': 'tel',
                'autocomplete': 'tel',
                'width': '15',
                'label': {
                    'text': "Enter the caller's UK telephone number"
                },
                'name': 'form-case-contact-number',
                'error': error_contact_number
            })
        }}
    {%- endcall -%}

    <div class="ons-btn-group ons-u-mt-l">
        {{
            onsButton({
                'text': 'Update contact number',
                'submitType': 'loader'
            })
        }}

        {{
            onsButton({
                'type': 'button',
                'text': 'Cancel',
                'classes': 'ons-btn--secondary ons-btn-group__btn',
                'url': url_for('case.case', case_id=case_id),
                'icon': 'false'
            })
        }}
    </div>


{%- endblock -%}
