{%- extends 'layout/_template.njk' -%}

{%- if page_title -%}
    {%- set page_title_value = page_title + ' - Contact Centre' -%}
{%- else -%}
    {%- set page_title_value = 'Contact Centre' -%}
{%- endif -%}

{%- if page_url and ('/start/' in page_url) and (page_url != '/start/') and (timeout != 'true') -%}
    {%- set signout_button_value = {
            'text': 'Exit',
            'buttonStyle': 'exit',
            'url': url('StartExit:get', display_region='en')
        }
    -%}
{%- endif -%}

{%- set pageConfig = {
    'title': page_title_value,
    'signoutButton': signout_button_value,
    'pageColNumber': '12'
} -%}

{%- block header -%}
    {% from "components/header/_macro.njk" import onsHeader %}

    {{
        onsHeader({
            "title": 'Contact Centre',
            "logoHref": 'https://www.ons.gov.uk/',
            "classes": 'ons-header--internal',
            "mobileLogo": 'ons-logo-stacked-en',
            "titleLogoHref": '/',
            'wide': 'true',
            "serviceLinks": {
                "itemsList": [
                    {
                        "title": "My Account",
                        "url": "#0"
                    },
                    {
                        "title": "Sign out",
                        "url": "#0"
                    }
                ]
            }
        })
    }}

{%- endblock header -%}

{%- block footer -%}

{% from "components/footer/_macro.njk" import onsFooter %}
{{
    onsFooter({
        'wide': 'true',
        "rows": [
            {
                "itemsList": [
                    {
                        "text": 'Help',
                        "url": '#0'
                    },
                    {
                        "text": 'Cookies and privacy',
                        "url": '#0'
                    },
                    {
                        "text": 'Accessibility',
                        "url": '#0'
                    }
                ]
            }
        ],
        "OGLLink": {
            "pre": 'All content is available under the',
            "link": 'Open Government Licence v3.0',
            "url": 'https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/',
            "post": ', except where otherwise stated'
        }
    })
}}

{%- endblock footer -%}

{%- block pageContent -%}
<div class="ons-page__container ons-container ons-container--wide">
    <div class="ons-grid">
        <div class="ons-grid__col ons-col-12@m">
            {%- block main -%}{%- endblock -%}
        </div>
    </div>
</div>
{%- endblock pageContent -%}
