{%- extends 'base.html' -%}

{% from "components/card/_macro.njk" import onsCard %}
{% from "components/call-to-action/_macro.njk" import onsCallToAction %}
{%- block main -%}

    {%- if get_flashed_messages(category_filter=["info"]) -%}
        {%- include 'partials/messages_info.html' with context -%}
    {%- endif -%}
    {%- if get_flashed_messages(category_filter=["error"]) -%}
        {%- include 'partials/messages.html' with context -%}
    {%- endif -%}

    {%- if is_logged_in() -%}
    <h1 class="ons-u-mt-xl">Role Operations</h1>
    {%- else -%}
    <br/><br/>
        {{ onsCallToAction({
            "headingText": 'Please Login.',
            "paragraphText": 'You must login to see the available operations',
            "button": {
                "text": 'Login',
                "variants": 'small',
                "url": url_for('saml.sso')
            }
        }) }}
    {%- endif -%}

    <div>
        <div class="ons-grid ons-grid--column@xxs@s">
            {%- if view_sel() -%}
            <div class="ons-grid__col ons-col-4@m">
                {{ onsCard({
                    "id": 'title1',
                    "textId": 'text1',
                    "title": 'Survey Enquiry Line (SEL)',
                    "url": url_for('sel.sel_home'),
                    "text": 'Answer incoming calls'
                }) }}
            </div>
            {%- endif -%}
            {%- if view_tops() -%}
            <div class="ons-grid__col ons-col-4@m">
                {{ onsCard({
                    "id": 'title2',
                    "textId": 'text2',
                    "title": 'Telephone Operations (TO)',
                    "url": url_for('to.to_case_list'),
                    "text": 'Make outgoing calls'
                }) }}
            </div>
            {%- endif -%}
            {%- if view_admin() -%}
            <div class="ons-grid__col ons-col-4@m">
                {{ onsCard({
                    "id": 'title2',
                    "textId": 'text2',
                    "title": 'Administration',
                    "url": url_for('admin.admin_home'),
                    "text": 'Administer the system'
                }) }}
            </div>
            {%- endif -%}
        </div>
    </div>



{%- endblock -%}
