{%- extends 'base.html' -%}

{% from "components/card/_macro.njk" import onsCard %}

{%- block main -%}

    {%- if get_flashed_messages(category_filter=["info"]) -%}
        {%- include 'partials/messages_info.html' with context -%}
    {%- endif -%}
    {%- if get_flashed_messages(category_filter=["error"]) -%}
        {%- include 'partials/messages.html' with context -%}
    {%- endif -%}

    <h1 class="ons-u-mt-xl">Role Operations</h1>

    <div>
        <div class="ons-grid ons-grid--column@xxs@s">
            <div class="ons-grid__col ons-col-4@m">
                {{ onsCard({
                    "id": 'title1',
                    "textId": 'text1',
                    "title": 'Survey Enquiry Line (SEL)',
                    "url": url_for('sel.sel_home'),
                    "text": 'Answer incoming calls'
                }) }}
            </div>
            <div class="ons-grid__col ons-col-4@m">
                {{ onsCard({
                    "id": 'title2',
                    "textId": 'text2',
                    "title": 'Telephone Operations (TO)',
                    "url": url_for('to.to_case_list'),
                    "text": 'Make outgoing calls'
                }) }}
            </div>
            <div class="ons-grid__col ons-col-4@m">
                {{ onsCard({
                    "id": 'title2',
                    "textId": 'text2',
                    "title": 'Administration',
                    "url": url_for('admin.admin_home'),
                    "text": 'Administer the system'
                }) }}
            </div>
        </div>
    </div>



{%- endblock -%}
