{%- extends 'base.html' -%}

{%- from 'components/question/_macro.njk' import onsQuestion -%}
{%- from 'components/button/_macro.njk' import onsButton -%}

{%- block main -%}

    {%- call onsQuestion({
        'title': "Address not found",
        'instruction': '<p>Confirm that the postcode <em>' + postcode + '</em> is correct.</p><p>If the postcode is incorrect, enter a corrected value, else use a different method to find the users case<p>'
    }) -%}

    {%- endcall -%}

    <div class="btn-group u-mt-l u-mb-l">
        {{
            onsButton({
                'text': 'Enter corrected postcode',
                'classes': 'u-mt-l',
                'url': url_for('address_search.postcode_input')
            })
        }}
        {{
            onsButton({
                'text': 'Try another method',
                'classes': 'u-mt-l',
                'url': url_for('home')
            })
        }}
    </div>

{%- endblock -%}
