{%- extends 'base.html' -%}

{% from "components/card/_macro.njk" import onsCard %}

{%- block main -%}

    <h1>Contact Centre</h1>


    <h2>Find caller's case by address</h2>
    <div>
        <div class="grid grid--column@xxs@s">
            <div class="grid__col col-4@m">
                {{ onsCard({
                    "id": 'title1',
                    "textId": 'text1',
                    "title": 'Find case via postcode',
                    "url": url_for('address_search.postcode_input'),
                    "text": 'Find the callers case via postcode search'
                }) }}
            </div>
            <div class="grid__col col-4@m">
                {{ onsCard({
                    "id": 'title2',
                    "textId": 'text2',
                    "title": 'Find case via address text search',
                    "url": url_for('address_search.address_input'),
                    "text": 'Find the callers case via address text search'
                }) }}
            </div>
        </div>
    </div>



{%- endblock -%}
